div(ng-show="modalShow")
  div(ng-show="show" ng-if="modalShow === true" style="z-index:2;background-color:rgb(218, 53, 9);width:50%; height: 50%; position: absolute; top:15%; left: 25%")
    h3 Are you sure you want to delte this mix ?
    button(type="button" ng-click="yesDelete(track)") Yes 
    button(type="button" ng-click="hideModal()") Cancel 
