.m-toolbar
  span(class='o-button-span')
    login-buttons
  span(class='o-button-span') 
    a(href='/' class='c-menu-button') Home
  span(class='o-button-span')
    a(href='/mixes' class='c-menu-button') Mixes
  span(class='o-button-span') 
    a(href='/create' class='c-menu-button') Create a Mix
  span(class='o-button-span') 
    a(href='/mymixes' class='c-menu-button') My Mixes
