.m-toolbar
  br
  span
    login-buttons
  span
    a(href='/' class='c-menu-button') Home
  span
    a(href='/mixes' class='c-menu-button') Mixes
  span
    a(href='/create' class='c-menu-button') Create a Mix
  span
    a(href='/mymixes' class='c-menu-button') My Mixes
