.home-wrapper
	section.intro-top
		.intro-text
			h1 Tired of playing the same music?
			h3 Listen to what other people are listening to.

	section.intro-mid
		.left-triangle
		.right-triangle
			
		.mid-left-intro
			h2 Create & Share your Spotify playlists

		.mid-right-intro
			h2 Browse mix tape playlists by genre and tags
			
	section.intro-bot
		.bot-right-intro
			h2 Don't have a Spotify account...
			h2 Signing up is free

		.bot-left-intro
			h2 Sign in with Spotify to get started
			h2 Create mix tapes
			h2 Browse mix tapes
			h2 Rate mix tapes
			button.btn(ng-click="hello()") Create a Spotify account
			
		img.spotify-logo(src="/spotify-logo.svg")

footer
	.footer-content
		p © MMXVI
		p Let's share our music
