@import 'colors';
@import './mixins/mixins.scss';

.o-playlist-selector{
  display: inline;
  width: 200px;
}
input[type=radio]{
  margin:0;padding:0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  display: none;
}
.o-playlist-selector input:active + .pickmix{
  opacity: .9;
}
.o-playlist-selector input:checked + .pickmix{
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
.pickmix{
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  width:100px;height:70px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
  filter: brightness(1.8) grayscale(1) opacity(.7);
}
.pickmix:hover{
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
  -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
  filter: brightness(1.2) grayscale(.5) opacity(.9);
}

//create form container
.m-create-mix-container{
  @include create-container($dark-grey, $olive, 0%, 115%);
  input[type="text"]{
    border: none;
    width: 800px;
    outline: none;
    line-height: 40px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 67px;
    display: block;
    font-size: 24px;
    font-family: Cutive, sans-serif;
    &::selection{
      background-color: $green;
    }
  }
}
