@import 'menubar';
@import 'colors';
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Cutive);

body{
  margin: 0px;
  padding: 0px;
}
 *{
   font-family: Montserrat;
   font-style:normal;
 }
