@import 'menubar';
@import 'colors';
@import './mixins/mixins.scss';

//Fonts
@import '{cedla:mdi}/materialdesignicons.scss';
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Cutive);

//Global Styles
* {
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
 	box-sizing: border-box;
 }

body {
  margin: 0px;
  padding: 0px;
}
