@import 'colors';
@import './mixins/mixins.scss';

.m-toolbar{
  background-color: $dark-grey;
  width: 100%;
  height: 100px;
  display:flex;
  // flex-direction: row-reverse;
  justify-content: center;
  align-items: stretch;
  text-transform: uppercase;
}
.m-toolbar span{
  position: relative;
  top: 35%;
  margin: 0px;

}

.c-menu-button{
  transition: all 0.4s ease-out;
  width: 200px;
  height: 80px;
  padding: 10px;
  text-decoration: none;
  margin-right: 10px;
  color: $white;
  font-size: 1.3em;
  align-items:center;
  &:hover, &:focus{
    transition: all 0.3s ease-in;
    color: $green;
  }
}

.clicked{
  transition: all 0.3s ease-in;
  color: $green;
}

#login-buttons .login-button, .accounts-dialog .login-button{
  @extend .c-menu-button;
  background: none;
  margin-left: 0px;
  padding: 10px;
  border-radius: 0px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  margin-right: 20px;
}

#login-buttons .login-image{
  display: none;
}

#login-buttons .text-besides-image{
  margin-left: 0px;
}

#login-buttons .login-buttons-with-only-one-button .login-button{
  display: inline;
  border: none;
  &:hover, &:focus{
    transition: all 0.3s ease-in;
    color: $green;
    background: none;
  }
}

#login-buttons{
  margin-top: -2.6px;
  padding-left: 0px;

}
#login-buttons .login-display-name{
  margin-right: 0px;
  margin: 0px;
}
