@import 'colors';

//mixtape container mixin
@mixin mixtape-container($fromcolor,$tocolor,$frompercent,$topercent){
  min-width: 320px;
  min-height: 500px;
  font-family: Montserrat, sans-serif;
  color: $white;
  margin-left:20px;
  margin-bottom: 20px;
  background-image:linear-gradient(45deg,$fromcolor $frompercent,$tocolor $topercent);
  .o-mixtape-image-container{
    position: absolute;
    width: 320px;
    height: 320px;
    overflow: hidden;
    .c-mixtape-image{
      width: 110%;
      height: 110%;
    }
  }
  .o-track-list{
    list-style: none;
    display: inline-block;
    position: relative;
    top: 300px;
    text-align: center;
    li{
      margin-bottom: -16px;
    }
    .c-mixtape-button{
      background: none;
      border-width: 0px;
      color: $white;
      outline: none;
      display: block;
      font-size: 16px;
      margin-left: auto;
      margin-right: auto;
    }
  }

}






//input field
.m-search-container{
  display: flex;
  justify-content: center;
  position: relative;
  top: 96px;
  input{
    width: 1000px;
    margin-left: 100px;
    margin-right: 100px;
    min-width: 320px;
    border-bottom-width: 2px;
    border-left: none;
    border-bottom-color: black;
    border-right: none;
    border-top: none;
    line-height: 30px;

  }
}


//mixtape container
.m-mixtape-container{
  @include mixtape-container($dark-grey, $olive,-40%, 85%);
}

//mixes page mixtape container
.m-mixespage-container{
  display: flex;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 160px;
  flex-direction: row;
  flex-wrap: wrap;
}
