br
div(class="mix-container") 
  form
    label Title your mix
    input(type="text" id="mixname" placeholder="Title your Mix Tape" ng-model="newTrack.name")
    label Link to your Mix
    | <blaze-template name="playlists"></blaze-template>
    button(type="button" id="mixplaylist" ng-click="createMixTape(newTrack)") Upload a playlist
