br
div(class="mix-container") 
  
  form
    label Title your mix
    input(type="text" id="mixname" placeholder="Title your Mix Tape" ng-model="newTrack.name")
    label Link to your Mix
    input(type="text" id="mixplaylist" placeholder="Link to your spotify playlist" ng-model="newTrack.playlist")
    label Created by:
    input(type="text" id="mixcreator" placeholder="Created by:" ng-model="newTrack.creator")
    button(type="button" id="mixplaylist" ng-click="createMixTape(newTrack)") Upload a playlist
