div(class="m-search-container")
  input(placeholder="Search" ng-model="find")
div(class="m-mixespage-container")
  div(dir-paginate="track in tracks | itemsPerPage : 9 | filter: find" class="m-mixtape-container")
    div(class="o-mixtape-image-container")
    image(src="{{track.data.image}}" width="320" height="320" class="c-albumcover")
    iframe(ng-src="{{trustMixTape(track)}}" width="320" height="100" frameborder="0" allowtransparency="true")
    ul(ng-click="toggleDelete(track)" style="cursor: pointer" class="o-track-list")
      li
        h3(ng-class="{hideinEdit: EditMix === true}") {{track.name}}
        input(type="text" id="mixname" placeholder="Title your Mix Tape" ng-hide="!EditMix" ng-model="track.name" required)
      li 
        p(ng-class="{hideinEdit: EditMix === true}") {{'By :'}} {{track.authorname === null ? track.authorid : track.authorname }}
      div(ng-hide="!isOwner(track)" class="c-button-container" ng-class="{movebuttonsup: EditMix === true}")
        button(ng-init="EditMix = false" ng-click="EditMix =! false " ng-hide="EditMix === true || toggleModal" ng-show="showDelete" class="c-mixtape-button") Edit this Mix
        button(ng-hide="!EditMix" type="submit" ng-submit="editMixTape(track)" ng-click="EditMix = false" class="c-mixtape-button") Save Edit
        button( ui-sref="thisMix({mixId:track._id})" class="c-mixtape-button" ng-class="{hideinEdit: EditMix === true || showDelete}") Go to this Mix
        div(suremodal remove="yesDelete(track)" modal='modalShow')
      div(class="o-rating-container")
        i(class="mdi mdi-thumb-down" ng-click="downVote(track)" ) 
        span
          h4(class="votes-down") {{track.downvote}}
        i(class="mdi mdi-thumb-up" ng-click="upVote(track)" ) 
        span 
          h4(class="votes-up" ) {{track.upvote}}
          
div(class="pagedir-container")
  | <dir-pagination-controls></dir-pagination-controls> 
