div(class="m-search-container")
  input(placeholder="Search")
div(class="m-mixespage-container")
  div(ng-repeat="track in tracks" class="m-mixtape-container")
    div(class="o-mixtape-image-container")
    iframe(ng-src="{{trustMixTape(track)}}" width="320" height="100" frameborder="0" allowtransparency="true")
    ul(ng-click="toggleDelete(track)" style="cursor: pointer" class="o-track-list")
      li
        h3(ng-class="{hideinEdit: EditMix === true}") {{track.name}}
        input(type="text" id="mixname" placeholder="Title your Mix Tape" ng-hide="!EditMix" ng-model="track.name" required)
      li 
        p(ng-class="{hideinEdit: EditMix === true}") {{'By :'}} {{track.authorname === null ? track.authorid : track.authorname }}
      div(ng-hide="!isOwner(track)" class="c-button-container" ng-class="{movebuttonsup: EditMix === true}")
        button(ng-click="toggleModal()" ng-show="showDelete" class="c-mixtape-button") Delete 
        suremodal(ng-click="toggleModal()")
        button(ng-init="EditMix = false" ng-click="EditMix =! false " ng-hide="EditMix === true" ng-show="showDelete" class="c-mixtape-button") Edit this Mix
        button(ng-hide="!EditMix" type="submit" ng-submit="editMixTape(track)" ng-click="EditMix = false" class="c-mixtape-button") Save Edit
        button(ui-sref="thisMix({mixId:track._id})" class="c-mixtape-button" ng-class="{hideinEdit: EditMix === true}") Go to this Mix
