div(ng-repeat="track in tracks")
  //-show content you created only
  ul(ng-hide="!isOwner(track)")
    li
      p {{'Mix name: ' + track.name}}
      input(type="text" id="mixname" placeholder="Title your Mix Tape" ng-hide="!EditMix" ng-model="track.name" required)
    li 
      p {{track.playlist}}
      input(type="text" id="mixplaylist" placeholder="Link to your spotify playlist" ng-hide="!EditMix"  ng-model="track.playlist" required)
    li 
      p {{'By :'}} {{track.authorname === null ? track.authorid : track.authorname }}
    button(ng-click="toggleModal(track)") Delete 
    suremodal(ng-click="toggleModal()")
    button(ng-init="EditMix = false" ng-click="EditMix =! false " ng-hide="EditMix === true") Edit this Mix
    button(ng-hide="!EditMix" type="submit" ng-submit="editMixTape(track)" ng-click="EditMix = false") Save Edit
    
    
